
:root {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
mark,
pre,
code {
    font: inherit;
}

mark {
    background-color: transparent;
}

picture,
img,
video,
iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}

svg {
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form,
input,
select,
option,
textarea,
label,
fieldset,
legend,
button {
    display: block;
    font: inherit;
    background-color: initial;
}

fieldset {
    border: none;
}

button,
label {
    cursor: pointer;
}

body {
    background-color: #7c1711;
}



.Header {
    width: 100%;
    min-height: 6.25rem;
    

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1.25rem;
    gap: .625rem;
    margin: auto;

    font-family: "Montserrat", sans-serif;
    font-size: 1.4063rem;
    background-color: transparent;
    color: #EAD196;
    /* background-color: aqua; */


}

.Header.isOpen {
    flex-flow: column nowrap;
}

.Header-logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* background-color: tomato; */
    padding-left: 3.125rem;
}

.Header-svg {
    width: 90%;
    max-width: 4.375rem;
    margin: auto;
    /* background-color: aliceblue; */
}


.Header-svg .cls-1,
.Header-svg .cls-2,
.Header-svg .cls-3,
.Header-svg .cls-4,
.Header-svg .cls-5,
.Header-svg .cls-6,
.Header-svg .cls-7,
.Header-svg .cls-8 {
    fill: none;
}

.Header-svg .cls-2 {
    stroke-width: 5.86px;
}

.Header-svg .cls-2,
.Header-svg .cls-3,
.Header-svg .cls-4,
.Header-svg .cls-5,
.Header-svg .cls-6,
.Header-svg .cls-7,
.Header-svg .cls-8 {
    stroke: #EAD196;
}

.Header-svg .cls-3 {
    stroke-width: 11.44px;
}

.Header-svg .cls-4 {
    stroke-width: 5.72px;
}

.Header-svg .cls-5 {
    stroke-width: 15px;
}

.Header-svg .cls-6 {
    stroke-width: 11.73px;
}

.Header-svg .cls-7 {
    stroke-width: 11px;
}

.Header-svg .cls-8 {
    stroke-width: 17px;
}

.Header-svg .cls-9 {
    clip-path: url(#clippath-1);
}

.Header-svg .cls-10 {
    clip-path: url(#clippath);
}



.Header-nav {
    /* background-color: blue; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    padding: .625rem;
    gap: 2.5rem;
    position: relative;

}

.Header-ul {

    /* background-color: azure; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;

    gap: .625rem;
    padding: 1.25rem;

    color: beige;
    position: relative;
}
.Header-li {
    transition: color 0.5s linear;
    cursor: pointer;
}

.Header-li:hover {
    color: #EAD196;
}

.Header-btn {
    background-color: #EAD196;
    color: #7c1711;
    border-radius: .625rem;

    font-family: lato, sans-serif;
    padding: .5rem 1rem;
    margin: auto;
}

.Header-menu-svg {
    max-width: 1.875rem;
    /* background-color: turquoise; */

}

.Header-subul {

    display: none;
    width: 15rem;
    }

.Header-subli {
    background-color: #ead196ce;
    text-align: start;
    font-weight: 400;
    padding: .625rem;
    border: solid .125rem #ead196ce;
}


.Header-subli:hover {
    background-color: #7c1711;
    color: beige;
    border: solid .125rem #EAD196;
    font-weight: 600;

}

.Header-subul.isOpen {
    display: block;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    margin-top: .625rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border: solid .125rem #7c1711;
    color: #7c1711;
    font-family: "Lato", sans-serif;
}

.Header-responsive {
    /* background-color: aquamarine; */
    width: 1.875rem;
    display: none;
}



@media (max-width: 1100px) {
    .Header-nav {
        font-size: 18px;
        gap: 1.5rem;
    }
    .Header-logo{
        padding: 0;
    }

    .Header-h1 {
        display: none;
    }

    .Header-btn {
        display: none;
    }

    .Header-menu-svg {
        max-width: 1.4rem;
    }

}




@media (max-width: 1300px) {
    .Header-nav {
        font-size: 1.25rem;
        gap: 1.5rem;
    }

    .Header-btn {
        padding: .375rem .75rem;
        max-height: 4.375rem;
        margin: auto;
    }

    .Header-menu-svg {
        max-width: 1.4rem;
    }

}

@media (max-width: 1155px) {
    .Header-responsive {
        display: block;
    }

    .Header-nav {
        display: none;
        width: 100%;
    }

    .Header-nav.isOpen {
        display: block;
        width: 100%;
        background-color: #EAD196;
        border-radius: 2.5rem;
        color: #7c1711;
    }

    .Header-ul {
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        color: #7c1711;
    }

    .Header-menu-svg {
        margin: auto;
    }



    .Header-subul.isOpen {

        display: block;
        margin: auto;
        background-color: #7c1711;
        position: static;
        border: solid .125rem #EAD196;
        color: #EAD196;
    }


    .Header-subli {
        background-color: #70150f;
    }

    .Header-li:hover {
        color: #7c1711;
        font-weight: 600;
    }

    .Header-subli:hover {
        color: #EAD196;
    }


}


