:root {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
mark,
pre,
code {
    font: inherit;
}

mark {
    background-color: transparent;
}

picture,
img,
video,
iframe {
    display: block;
    max-width: 100%;
    width: 100%;
    height: initial;
}

svg {
    display: block;
    width: initial;
    height: initial;
    fill: currentColor;
}


form,
input,
select,
option,
textarea,
label,
fieldset,
legend,
button {
    display: block;
    font: inherit;
    background-color: initial;
}

fieldset {
    border: none;
}

button,
label {
    cursor: pointer;
}

body {
    background-color: #7c1711;
}

.Hero {
    /* background-color: blue; */
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    font-family: Montserrat, sans-serif;

    border-top: solid .1rem #e6e6e686;
    padding: 1.25rem 0rem 0rem 0rem;


}

.Hero-cols {
    min-height: 100vh;
    /* background-color: aliceblue; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    gap: 1.25rem;
}

.Hero-col {
    /* background-color: rgba(2, 0, 0, 0.37); */
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    gap: .3125rem;
    position: relative;
    overflow: hidden;

    border-radius: 50px;

}

.Hero-content {
    /* background-color: orange; */
    min-height: 18rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    padding: 1.25rem;
    gap: 1.25rem;

    position: absolute;

}

.Hero-vid {
    scale: 1.2;
}

/* CAJA CON IMAGEN Y TITULO DEL ENTRENAMIENTO */

.Hero-span {
    background-color: rgba(135, 117, 0, 0.543);
    font-family: Lato, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: .625rem;

    padding: .3125rem .625rem;
    border-radius: .9375rem;
    border: solid 0.5px gold;
    color: gold;

}

.Hero-h2 {
    /* background-color: lime; */
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;

    color: #EEEEEE;

}

.Hero-p {
    /* background-color: darkcyan; */
    width: 80%;
    color: #EEEEEE;
    max-width: 31.25rem;
    font-size: 0.9rem;
}

/* boton de guardado */
.Hero-btn {
    /* background-color: coral; */
    position: relative;
    display: flex;

}

.Hero-btn-svg {
    color: #EEEEEE;
}

.Hero-btn-svg:hover {
    color: #EAD196;
}

.Hero-btn-span {
    position: absolute;
    color: #EAD196;
    display: none;
    font-size: .625rem;
}

.Hero-btn-svg.isInactive {
    display: none;
}

.Hero-btn-span.isActive {
    display: block;
}



/* SELECCION DE NIVELES */

.Hero-levels {
    /* background-color: lightgray; */
    width: 100%;
}

.Levels-ul {
    /* background-color: lightgreen; */


    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    border-bottom: solid .1rem #e6e6e686;
    gap: 1.25rem;

    padding: 0rem 2.5rem;

    margin-top: .625rem;
}

.Levels-li {
    color: #e6e6e6;
    font-weight: 800;
    text-transform: uppercase;

    display: flex;
    flex-flow: row nowrap;
    gap: .3125rem;

}

.Levels-li:hover {
    border-bottom: solid .125rem #EAD196;
    color: #EAD196;
}

.Levels-svg {
    color: #7c1711;
}

.Levels--pro {
    color: #EAD196;
}

/* CARROUSEL DE EJERCICIOS */

.Hero-carrousel {
    /* background-color: lightpink; */
    width: 100%;
    height: 20rem;

    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 1.25rem;
}

.Carrousel-wrapper {
    /* background-color: lightyellow; */
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    transition: all .5s ease;
    z-index: 1;

    position: relative;
}

.Carrousel-span {
    color: #EAD196;
    font-weight: 600;
    padding: 0 0 0 1.0625rem;
    font-size: .9375rem;
    text-transform: uppercase;
}

.Carrousel-item {
    /* background-color: lightblue; */
    height: 100%;
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    z-index: 1;
    padding: 1.875rem;

}

.Carrousel-ul {
    /* background-color: lightcoral; */
    position: absolute;
    bottom: 0.1rem;
    left: calc(50% - 3rem);
    z-index: 5;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;

}

.Carrousel-btn {
    border: none;
    /* background: rgba(255, 255, 255, 0.9); */
    cursor: pointer;
}


/* EJERCICIOS Y CHECKBOX */

.Carrousel-exercise {
    background-color: #c5251d58;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: .625rem;
    border: solid .1rem #e6e6e686;
    border-radius: 1.25rem;
}

.Exercise-info{
    background-color: #e6e6e69a;
    text-align: center;
    border-radius: 50%;
    padding: .125rem .5625rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: .875rem;
    font-weight: 500;

    cursor: pointer;
}

.Exercise-formbox {
    /* background-color: silver; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .625rem;


    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.Exercise-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* EL CHECKBOX, UTILICÉ CÓDIGO DE UN MODELO Y LO ADAPTÉ PARA GENERAR UN CHECKBOX PERSONALIZADO */
.checkmark {
    position: relative;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    border-radius: .25em;
    background-color: transparent;
    transition: all .25s;
}

.checkmark::after {
    content: "";
    position: absolute;
    inset: 0;
    border: .1em solid #EAD196;
    border-radius: .25em;
    transition: all .25s, border-width .1s;
}

/* activar cuando el input está marcado */
.Exercise-check:checked+.checkmark {
    background-color: #8e6608;
}

.Exercise-check:checked+.checkmark::after {
    left: .45em;
    top: .25em;
    width: .25em;
    height: .5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 .15em .15em 0;
    border-radius: 0;
    transform: rotate(45deg);
}

.Exercise-tx {
    /* background-color: olive; */
    font-family: Lato, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    gap: .3125rem;

    color: #EEEEEE;
}

.Exercise-title {
    color: #EAD196;
}

.Exercise-reps {
    font-size: .9rem;
    font-style: italic;
}



/* ASIDE */
.Hero-aside {
    min-width: 13.75rem;
    max-height: 16rem;
    /* background-color: thistle; */
    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    position:sticky;
    top: 1rem;
    border-radius: 1.25rem;
    border: solid .1rem #e6e6e686;
    background-color:#c5251d58;
    color: #EEEEEE;
    gap: .625rem;

    
}

.Aside-bar {
    width: 100%;
    height: 0.75rem;
    background: #e6e6e6;
    border-radius: 999px;
    overflow: hidden;
    position: relative;
    margin: 0.75rem 0;
}

.Aside-subbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* ocupar toda la barra para poder desplazar */
    background: #7c1711;
    border-radius: inherit;
    transform: translateX(0%);
    /* posición inicial */
    transition: transform 300ms ease;
}

.Aside-span {
    display: inline-block;
    margin-left: 0.75rem;
    color: #EAD196;
    font-weight: 700;
}

.Aside-p{
    font-size: 1.0625rem;
}

/* controles semana */
.Aside-week {
    /* background-color: lightgreen; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: .375rem;
    margin-top: .5rem;
}

.Aside-day {
    /* background-color: lightcoral; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: .875rem;
}

.Aside-btn {
    width: 2rem;
    min-height: 2rem;
    border-radius: .375rem;
    border: none;
    background: #EEEEEE;

    cursor: pointer;
    transition: background .18s, transform .12s;
}

.Aside-btn:hover {
    background: #ead1968d;
     border: solid .1rem #e1b03d;
}

.Aside-btn.isActive {
    background: #EAD196;
    transform: scale(1.1);
}



/* MEDIA QUERIES */

@media (min-width: 992px) {
    .Hero {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        gap: 1rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .Hero-cols {
        max-width: 70%;
    }

    .Hero-aside {
        max-width: 30%;
        min-width: 0;
        /* permite ajustarse dentro del 30% */
    }
}

/* Tablet: apilar columnas, ajustar tamaños y paddings */
@media (max-width: 991px) {
    .Hero {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        padding: 1rem;
    }
    .Hero-aside {
        max-width: 100%;
        font-size: 0.75rem;
        min-height: 200px;
        position: static;
    }

    .Hero-content {
        padding: 1rem;
        gap: .625rem;
    }


    /* Carrusel: altura y espaciado más contenidos */
    .Levels-ul {
        padding: 0rem 2.5rem;
    }

    .Carrousel-item {
        padding: 1rem;
        gap: 0.5rem;
    }

    /* Controles del carrusel más arriba y centrados */
    .Carrousel-ul {
        bottom: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
        gap: 0.625rem;
    }

}

/* Móvil: reducir gaps, alturas y ajustar elementos visuales */
@media (max-width: 767px) {
    

    .Hero-vid {
        scale: 2;
    }
     .Hero-span {
        font-size: .625rem;
    }

    .Hero-h2 {
        font-size: 1.8rem;
    }

    .Hero-p {
        font-size: .625rem;
    }


    .Carrousel-ul {
        transform: none;
       
        justify-content: center;
        left: calc(50% - 1.3rem);
        bottom: 0rem;
    }


    .Aside-bar {
        margin: 0.5rem 0;
    }

    .Aside-week {
        gap: 0.25rem;
    }
}

/* Muy pequeño: tipografías y espacios mínimos */
@media (max-width: 480px) {
    .Hero-content {
        font-size: 0.75rem;
        padding: 0.75rem;
        gap: 0.375rem;
    }

    .Levels-ul {
        padding: 0 0.75rem;
        gap: 0.375rem;
    }

    .Exercise-form,
    .Carrousel-exercise {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

}